<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Enregistrer un utilisateur</title>
</head>
<body>
<h1>Voilà les données qui ont été enregistrées </h1>

<h1>Result</h1>
<p th:text="'id: ' + ${user.id}" />
<p th:text="'Nom: ' + ${user.lastName}" />
<p th:text="'Prénom: ' + ${user.firstName}" />
<p th:text="'Email: ' + ${user.email}" />
<p th:text="'Année de Naissance: ' + ${user.birthdayDate}" />
<a href="/register">Enregistrer un autre utilisateur</a>
<br>
<a href="/user">Retour à la liste des utilisateurs</a>

</body>
</html>